@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

.registro {
    background-image: url("../../Imagenes/pisadas.jpg");
    background-size: contain;
    background-repeat: repeat-y;
    height: 500px;
    font-family: 'Viga', sans-serif;
    font-size: 15px;
}

.buttons {
    appearance: button;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    column-gap: 1rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
    width: 100px;
  }
  
  .buttons:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
    transform: translateY(0.125rem);
  }
  
  .buttons:focus {
    box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
  }

  .buttons:disabled {
    color: grey;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgb(156, 154, 154), #beb6a7);
    cursor: not-allowed;
  }

  .form {
    margin-top: 60px;
    display: flex;
    width: 800px;
    /* border: 2px solid blue;  */
    justify-content: center;  
    flex-direction: column;
    margin-left: 306px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    
    background-color: #F2E7D5;
    font-family: 'Viga', sans-serif;
  }
  
  .inputs {
    width: 200px;
    margin-bottom: 20px;
    margin-left: 100px;
    display: flex;
    text-align: right;
    justify-content: center;
  }

  label {
    font-size: 13px;
    font-family: 'Viga', sans-serif;
  }

  .error {
    color: red;
    font-size: 13px;
    font-family: 'Viga', sans-serif;
    margin-top: 30px;
  }

  .datosRegistro {
    /* border: 1px solid red; */
    display: flex; 
    margin-left: 40px; 
    font-family: 'Viga', sans-serif;
    margin-right: 200px;
    justify-content:flex-end
  }

.titulomayor {
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 13px;
  color: #393E46;
  text-shadow: 2px 2px rgb(38, 37, 37);
}

.errores {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 1154px;
  width: 200px;
}

.botonImagen {
  border: 1px solid red;
  height: 50px;
  width: 200px;
  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 100%;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-top: 46px;
  margin-bottom: 30px;
  margin-left: 98px;
  outline: 2px solid transparent;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: none;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}

.botonImagen:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

.botonImagen:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}