.light-theme {
    background-color: #6D9886;
    color: #F7F7F7;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
} 

.dark-theme {
    background-color: #21312b;
    color: #F7F7F7;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
