.navbar {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 50px;
}

.logo {
    margin-left: 30px;
    font-size: 30px;
    margin-top: 5px;
}

.login {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.buttons {
    margin-left: 10px;
}

.algomas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 500px;
}

h4 {
    margin-left: 50px;
}